/* .playlists{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 10px;
}
.playlist-items-albums{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    scroll-behavior: smooth; 
    gap: 10px; 
}
.playlist-item-img_search {
    & img{
   width: 150px;
   height: 150px;
   object-fit: contain; 
   border-radius: 10px;
  
   }

}
.playlist-items-search{
    width: 100%; 
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 

    scroll-behavior: smooth; 
    flex-wrap: wrap;
    align-items: center;

} */
.albumdetailheader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    background-color: #a70f0ad8;
    padding:20px 10px;
    border-radius: 10px;
}
.albumdetailheader img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.albumdetailheader span{
    font-size: 70px;
    font-family: 'Times New Roman';
}
.AlbumDetail{
    padding-top: 10px;
}
.trackshover3{
    background-color: #121212;
    border-radius: 10px;
}
.trackshover3:hover{
    background-color: #1f1f1f;
    border-radius: 10px;
}  